@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-display: var(--font-display);
  
  /* Custom Colors - Tailwind v4 format */
  --color-primary: #7F56D9;
  --color-background-light: #F9FAFB;
  --color-surface-light: #FFFFFF;
  --color-text-primary-light: #101828;
  --color-text-secondary-light: #667085;
  
  /* Border Radius */
  --radius: 1rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2rem;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.bg-gradient-r-violet-blue-green-subtle {
  background-image: linear-gradient(90deg, #eacdff, #b3dcff, #8effe4);
}
