@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-display: var(--font-display);
  
  --color-primary: #7F56D9;
  --color-background-light: #F9FAFB;
  --color-surface-light: #FFFFFF;
  --color-text-primary-light: #222222;
  --color-text-secondary-light: #464646;
  
  /* Border Radius */
  --radius: 1rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2rem;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.bg-gradient-r-violet-blue-green-subtle {
  background-image: linear-gradient(90deg, #eacdff, #b3dcff, #8effe4);
}

.bg-gradient-r-violet-blue-green {
  background-image: linear-gradient(90deg, #8f00ff, #2f72ff, #19e8c2);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}